<app-navbar></app-navbar>

<div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">
      <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-8 lg:text-3xl xl:mb-12">Our plans for you</h2>
    <p class=" text-2xl font-bold text-gray-800 md:mb-8 lg:text-2xl xl:mb-4"> Our Business insurance includes the following benefits:</p>
   <div class="mb-12">Buildings (combined) Fire, Business interruption Theft, Office contents, Money, Glass, Goods in transit, Business all risks, Accidental damage, Fidelity insurance (theft by employees), Public liability, Personal accident cover (individuals and employees), Vehicles, Electronic equipment, Machinery breakdown, Business interruption (following machinery breakdown), Deterioration of stock.
  </div> 
      <div class="mb-6 grid gap-6 sm:grid-cols-2 md:mb-8 lg:grid-cols-3 lg:gap-8">
       
        <div class="flex flex-col rounded-lg border p-4 pt-6">
          <div class="mb-12">
            <div class="mb-2 text-center text-2xl font-bold text-gray-800">Plan A</div>
  
            <div class="mx-auto mb-4 text-center font-bold text-gray-900">
              Business Interruption Coverage
            </div>
            <div class="text-center mb-4 ">Our coverage includes protection against damage caused by:</div>
  
            <div class="space-y-2">
             
              <div class="flex gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-green-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                </svg>
  
                <span class="text-gray-600">Gross profits</span>
              </div>

              <div class="flex gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-green-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                </svg>
  
                <span class="text-gray-600">Gross rentals</span>
              </div>
              <!-- check - end -->
  
              <!-- check - start -->
              <div class="flex gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-green-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                </svg>
  
                <span class="text-gray-600">Gross revenue</span>
              </div>

              <div class="flex gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-green-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                </svg>
  
                <span class="text-gray-600">Additional increase in the cost of working</span>
              </div>


            </div>
          </div>
  
          <div class="mt-auto flex flex-col gap-8">
            <div class="flex items-end justify-center gap-1">
              <span class="self-start text-gray-900">R</span>
              <span class="font-bold text-gray-500">3500.00</span>
              <span class="text-gray-900">per month</span>
            </div>
  
          </div>
        </div>

        <div class="relative flex flex-col rounded-lg border-2 border-green-600 p-4 pt-6">
          <div class="mb-12">
            <div class="absolute inset-x-0 -top-3 flex justify-center">
              <span class="flex h-6 items-center justify-center rounded-full bg-green-700 px-3 py-1 text-xs font-semibold uppercase tracking-widest text-white">most popular</span>
            </div>
  
            <div class="mb-2 text-center text-2xl font-bold text-gray-800">Plan B</div>
  
            <div class="mx-auto mb-4 text-center font-bold text-gray-900">
              Our comprehensive cover for buildings
            </div>
            <div class="text-center">Our coverage includes protection against damage caused by:</div>
           
            <div class="space-y-2">
         
              <div class="flex gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-green-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                </svg>
  
                <span class="text-gray-600">Fire</span>
              </div>

              <div class="flex gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-green-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                </svg>
  
                <span class="text-gray-600">Lightning</span>
              </div>
    

              <div class="flex gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-green-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                </svg>
  
                <span class="text-gray-600">Explosion</span>
              </div>

              <div class="flex gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-green-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                </svg>
  
                <span class="text-gray-600">Storm</span>
              </div>

              <div class="flex gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-green-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                </svg>
  
                <span class="text-gray-600">Wind</span>
              </div>

              <div class="flex gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-green-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                </svg>
  
                <span class="text-gray-600">Water</span>
              </div>

  
              <!-- check - start -->
              <div class="flex gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-green-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                </svg>
  
                <span class="text-gray-600">Hail</span>
              </div>
              <!-- check - end -->
    

  
              <!-- check - start -->
              <div class="flex gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-green-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                </svg>
  
                <span class="text-gray-600">Snow</span>
              </div>
              <!-- check - end -->
  
            
            </div>
          </div>
  
 
          <div class="mt-auto flex flex-col gap-8">
            <div class="flex items-end justify-center gap-1">
              <span class="self-start text-gray-900">R</span>
              <span class="font-bold text-gray-500">5000.00</span>
              <span class="text-gray-900">per month</span>
            </div>
  
         </div>
        </div>
        <!-- plan - end -->
  
        <!-- plan - start -->
        <div class="flex flex-col rounded-lg border p-4 pt-6">
          <div class="mb-12">
            <div class="mb-2 text-center text-2xl font-bold text-gray-800">Plan C</div>
  
            <div class="mx-auto mb-4 text-center font-bold text-gray-900">
              Office Contents
            </div>
            <div class="text-center">Our coverage includes protection against damage caused by:</div>
  
            <div class="space-y-2">
              <!-- check - start -->
              <div class="flex gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-green-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                </svg>
  
                <span class="text-gray-600">Fire</span>
              </div>
              <!-- check - end -->
  
              <!-- check - start -->
              <div class="flex gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-green-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                </svg>
  
                <span class="text-gray-600">Explosion</span>
              </div>
              <!-- check - end -->
  
              <!-- check - start -->
              <div class="flex gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-green-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                </svg>
  
                <span class="text-gray-600">Impact by vehicles</span>
              </div>

              <div class="flex gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-green-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                </svg>
  
                <span class="text-gray-600">Wind</span>
              </div>
              <!-- check - end -->
  
              <!-- check - start -->
              <div class="flex gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-green-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                </svg>
  
                <span class="text-gray-600">Hail</span>
              </div>
              <!-- check - end -->
  
              <!-- check - start -->
              <div class="flex gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-green-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                </svg>
  
                <span class="text-gray-600">Earthquake</span>
              </div>
              <!-- check - end -->
            </div>
          </div>
  
          <div class="mt-auto flex flex-col gap-8">
            <div class="flex items-end justify-center gap-1">
              <span class="self-start text-gray-900">R</span>
              <span class="font-bold text-gray-500">3000.00</span>
              <span class="text-gray-900">per month</span>
            </div>
  
         </div>
        </div>
        <!-- plan - end -->
      </div>
  
      <div class="text-center text-sm text-gray-500 sm:text-base">Need help deciding? <a [routerLink]="[ '/contact' ]" routerLinkActive="active" class="text-gray-500 underline transition duration-100 hover:text-green-600 active:text-green-700">Get in touch</a>.</div>
    </div>
  </div>



  <form class="max-w-md mx-auto">
    <div class="mb-2 text-center text-2xl font-bold text-gray-800">Get your plan</div>

    <div class="relative z-0 w-full mb-5 group">
        <label for="underline_select" class="sr-only">Underline select</label>
        <select id="underline_select" class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer" [(ngModel)]="selectedPlan" name="plan">
            <option value="">Choose a plan</option>
            <option value="Plan A">Plan A</option>
            <option value="Plan B">Plan B</option>
            <option value="Plan C">Plan C</option>
        </select>
    </div>

    <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-5 group">
            <input type="text" name="floating_first_name" id="floating_first_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-green-600 focus:outline-none focus:ring-0 focus:border-green-600 peer" placeholder=" " required [(ngModel)]="firstName" />
            <label for="floating_first_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-green-600 peer-focus:dark:text-green-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">First name</label>
        </div>
        <div class="relative z-0 w-full mb-5 group">
            <input type="text" name="floating_last_name" id="floating_last_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-green-600 focus:outline-none focus:ring-0 focus:border-green-600 peer" placeholder=" " required [(ngModel)]="lastName" />
            <label for="floating_last_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-green-600 peer-focus:dark:text-green-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Last name</label>
        </div>
    </div>

    <div class="relative z-0 w-full mb-5 group">
        <input type="email" name="floating_email" id="floating_email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-green-600 focus:outline-none focus:ring-0 focus:border-green-600 peer" placeholder=" " [(ngModel)]="email" required  />
        <label for="floating_email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-green-600 peer-focus:dark:text-green-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email address</label>
    </div>

    <div class="relative z-0 w-full mb-5 group">
        <input type="password" name="floating_password" id="floating_password" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-green-600 focus:outline-none focus:ring-0 focus:border-green-600 peer" placeholder=" " required [(ngModel)]="password" />
        <label for="floating_password" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-green-600 peer-focus:dark:text-green-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>
    </div>
    <button  type="submit" (click)="onSubmit()" class=" text-white bg-green-600 hover:bg-green-500 focus:ring-4 focus:outline-none focus:ring-bl-gray-900 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-gray-900 dark:hover:bg-green-400 dark:focus:ring-green-400">Submit</button>
   


  </form>

  <div class="text-center text-green-600 mt-4" *ngIf="message">{{ message }}</div>

<app-nav></app-nav>