.login{
   
    margin-bottom: 26px;
    
}

.form{
    max-width: 360px;
/* align-items: 10px; */
margin-left: 28px;
margin-top: 6rem;
justify-content: center;

}

.in{
    font-size: xx-large;
    justify-content: center;
    display: flex;
    justify-content: center;
    margin-top: 14rem;
  }

  .bg-blue-700 {
    --tw-bg-opacity: 1;
    background-color: black
}

/* .text-white{
justify-content: center;
align-items: 10px;
margin-left: 120px ;

} */